
#footer {
  padding-top: 100px;
  text-align:center;
}
    #overview-text {
      text-align: left;
    }
    #homepage-content ul {
      text-align: left;

    }
    #homepage-content {
      margin: 0 10vw;
    }
    html {
      height: 100vh;
      color: #282828;
      background-color: floralwhite;
    }
    body {
      font-family: sans-serif;
      margin: 0;
    }
    #main-img-container {
      margin: 0 auto;
      overflow: hidden;
    }
    #main-img {
      width: 100vw;
      position: relative;
      left: 50%;
      margin-left: -50vw;
    }

    #main-img img {
      display: block;
      margin: 2px auto;
      width: 100%;
    }
    a { 
      color: black;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;

    }
    #main-header-text {
      font-size: clamp(65px,11vw,100px);;
      margin: 5vh 25px;
      text-decoration: underline;
      text-align: center;
    }
    #main-header-links {
      height: 50px;
      margin: 7vh 0;
      text-align: center;
    }
    span {
      display: inline-block;
      font-size: 2.5em;
      padding: 0 45px;
      margin-bottom: 21px;
    }
    @media (max-width: 440px) {
      #main-img div {
        padding-bottom: 8px;
      }
      #main-header-links {
        height: 50px;
        margin: 5vh 0;
      }
      #main-header-links span {
        display: inline-block;
        font-size: 1.5em;
        padding: 0 15px;
      }
      #main-comic-links a {
        font-size: 25px;
        line-height: 49px;
      }
      #main-header-text {
        font-size: clamp(45px,11vw,100px);
        margin: 5vh 25px;

      }
      #main-img-container {
        padding-top: 2em;
      }
      #main-img {
        width: 200vw;
        margin-left: -100vw;
      }
    }
